build/
*.o
*.d
*.map
*.z64
*.n64
*.v64
*.elf
*.bin
*.rompak
*.sprite
*.wav64
*.xm64
*.ym64
*.font64
.vscode/
.idea/
*.swp
*~
compile_commands.json
.cache/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db